main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.landing_page h1 {
  font-size: 44px;
  text-align: center;
}

.landing_page img {
  max-width: 100%;
  display: block;
}

.hero {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: space-evenly;
  height: 100vh;
}

.landing_page {
  width: 100%;
}

.landing_page p {
  text-align: center;
  padding: 16px;
  font-size: 18px;
}

.button_container {
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: space-evenly;
}

.button_container button {
  height: 70px;
  width: 250px;
  font-family: "Roboto",
    sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #785380;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 5px;
}

.hero h1 {
  margin: 0 5px 0 5px;
}

.hero img {
  margin: 0 10px;
}

.features_section_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.features_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features_section p {

  text-align: center;
}

.features_section h1 {
  text-align: center;
  padding-top: 56px;
  font-size: 44px;

  margin: 10px 10px;
  padding: 10px;
}

.image_container {
  height: 400px;
}

.product_image {
  height: 300px;
}
