*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  --lightGrey: #fcfcfc;
  --pink: #b52b65;
  --darkPurple: #785380;
  --darkGrey: #585858;
  --darkerGrey: #6d6d6d;
  --yellow: #ffe75e;
  --white: #fff;
  --familyRoboto: "Roboto", sans-serif;
  --familyRobotoSlab: "Roboto Slab", sans-serif;
  --bold: bold;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  background-color: var(--white);
  font-family: var(--familyRoboto);
  line-height: 1.6;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  outline-color: var(--yellow);
}

/* Intro */
.intro {
  margin-top: 2rem;
  padding: 0 1em;
}

.intro__title {
  margin: 0;
  font-family: var(--familyRobotoSlab);
  font-size: 2.4rem;
  font-weight: normal;
  line-height: 1.3;
  color: var(--darkPurple);
}

.intro__subtitle {
  margin: 1.2rem 0;
  font-size: 0.9rem;
  color: var(--darkGrey);
}

.button {
  display: inline-block;
  padding: 0.7em 1.2em;
  font-size: 1rem;
  background-color: var(--darkPurple);
  color: var(--white);
  border-radius: 3px;
}

.button:hover {
  background-color: #f65b0c;
}

.intro__illustration {
  max-width: 100%;
  margin: 2rem 0;
}


@media (min-width: 32em) {
  .intro {
    margin: 2rem auto 0;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-gap: 20px;
    grid-template-areas:
      ". img"
      "title img"
      "subtitle img"
      "button img"
      ". img";
  }

  .intro__title {
    grid-area: title;
    margin: 0;
  }

  .intro__subtitle {
    grid-area: subtitle;
    margin: 0;
  }

  .intro .button {
    grid-area: button;
    justify-self: start;
    align-self: start;
  }

  .intro__illustration {
    grid-area: img;
    align-self: center;
    
  }
}

@media (min-width: 60em) {
  .intro {
    width: 80%;
  }

  .intro__title {
    font-size: 4rem;
    margin: 0;
  }

  .intro__subtitle {
    font-size: 1.2rem;
  }

  .button {
    font-size: 1.1rem;
  }
}

/* Features */
.features {
  padding: 0 1em;
  margin-top: 2.5rem;
  text-align: center;
}

.features__list li {
  padding: 1rem;
}

.features p {
  font-size: 0.9rem;
}

@media (min-width: 32em) {
  .features__list {
    display: flex;
    justify-content: space-around;
  }

  .features__list li {
    flex-basis: 350px;
  }
}

.features__list .svg {
  display: block;
  margin: auto;
  max-width: 100%;
  margin-bottom: 1.5rem;
  width: 50px;
  height: 50px;
}

@media (min-width: 60em) {
  .features {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .features p {
    font-size: 1.1rem;
  }
}

.section__title {
  color: var(--darkPurple);
  font-weight: var(--bold);
  margin-right: 1rem;
  font-size: 1.85rem;
  line-height: 1.1;
}

@media (min-width: 60em) {
  .section__title {
    font-size: 2.25rem;
  }
}

/* Grow */
.grow {
  padding: 0 1em;
  position: relative;
  margin-top: 2.5rem;
}

.grow .svg {
  width: 100%;
}

.grow p {
  font-size: 0.9rem;
}

.blob {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

@media (min-width: 32em) {
  .grow {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: minmax(200px, 550px) 40%;
    grid-template-areas:
      ". img"
      "title img"
      "p img"
      ". img";
  }

  .grow__title {
    grid-area: title;
  }

  .grow p {
    grid-area: p;
    margin: 0;
  }

  .grow>svg:first-of-type {
    grid-area: img;
  }

  .blob {
    top: -50px;
  }
}

@media (min-width: 60em) {
  .grow {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .grow p {
    font-size: 1.1rem;
  }
}

/* Feedback */
.get-feedback {
  padding: 0 1em;
}

.get-feedback p {
  font-size: 0.9rem;
}

.get-feedback svg {
  width: 100%;
}

@media (min-width: 32em) {
  .get-feedback {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 50% minmax(200px, 550px);
    grid-template-areas:
      "img ."
      "img title"
      "img p"
      "img .";
  }

  .get-feedback__title {
    grid-area: title;
    margin-bottom: 0;
  }

  .get-feedback svg {
    grid-area: img;
  }

  .get-feedback p {
    grid-area: p;
    margin: 0;
  }
}

@media (min-width: 60em) {
  .get-feedback {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .get-feedback p {
    font-size: 1.1rem;
  }
}

/* Learning */
.learning {
  padding: 0 1em;
}

.learning p {
  font-size: 0.9rem;
}

.learning .svg {
  width: 100%;
}

@media (min-width: 32em) {
  .learning {
    display: grid;
    grid-template-columns: minmax(200px, 450px) 50%;
    grid-template-areas:
      ". img"
      "title img"
      "p img"
      ". img";
  }

  .learning__title {
    grid-area: title;
  }

  .learning p {
    grid-area: p;
    margin: 0;
  }

  .learning .svg {
    grid-area: img;
  }
}

@media (min-width: 60em) {
  .learning {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .learning p {
    font-size: 1.1rem;
  }
}

/* get-started */
.get-started li {
  width: 250px;
  height: 250px;
  padding: 2rem;
  margin: 1.5rem auto;
  background-image: url(https://res.cloudinary.com/alexandracaulea/image/upload/v1583497341/circle-shape_fbgxd9.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.get-started strong {
  font-size: 2.2rem;
}

.get-started p {
  margin: 0;
  margin-top: 5px;
  font-size: 0.9rem;
}

@media (min-width: 45em) {
  .get-started {
    margin-top: 100px;
  }

  .get-started ul {
    display: flex;
    justify-content: space-around;
  }

  .get-started li {
    width: 320px;
    height: 320px;
    background-size: initial;
  }
}

@media (min-width: 60em) {
  .get-started {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .get-started p {
    font-size: 1.1rem;
  }
}

/* Start learning */
.start-learning {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  padding: 0 3rem;
  justify-content: center;
}

.start-learning .button {
  margin: 2rem 0;
}

.progress {
  display: flex;
  flex-basis: 100%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: ew-resize;
}

.progress-fill {
  width: 0%;
  background-color: var(--pink);
  flex: 0;
  flex-basis: 0%;
}

.blob-learning {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
  height: 500px;
}

@media (min-width: 32em) {
  .blob-learning {
    top: -100px;
    height: 800px;
  }
}

.arrow-1,
.arrow-2 {
  margin-top: 20px;
  height: 90px;
  background-image: url(https://res.cloudinary.com/alexandracaulea/image/upload/v1583497341/line-1_dt5tua.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.arrow-2 {
  margin-top: -20px;
}

@media (min-width: 32em) {

  .arrow-1,
  .arrow-2 {
    height: 184px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .arrow-1 {
    margin-top: 70px;
    background-image: url(https://res.cloudinary.com/alexandracaulea/image/upload/v1583497341/arrow-1-sm_kkfsxp.svg);
  }

  .arrow-2 {
    background-image: url(https://res.cloudinary.com/alexandracaulea/image/upload/v1583497341/arrow-2-sm_xtrpm5.svg);
  }
}

@media (min-width: 60em) {

  .arrow-1,
  .arrow-2 {
    height: 283px;
  }

  .arrow-1 {
    margin-top: 110px;
    background-image: url(https://res.cloudinary.com/alexandracaulea/image/upload/v1583497341/arrow-1-lg_jhrqpv.svg);
  }

  .arrow-2 {
    background-image: url(https://res.cloudinary.com/alexandracaulea/image/upload/v1583497341/arrow-2-lg_cjykcq.svg);
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
