li.qLi {
  border: #444 solid 1px;
}

.qLi {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.answer-body {
  font-size: 24px;
}

.accordion_section {
  display: flex;
  flex-direction: column;
}

.accordion {
  background-color: #eee;
  border-radius: 8px;
  margin-top: 15px;
  color: #444;
  cursor: pointer;
  padding: 8px;
  width: 70%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
}

button a {
color: white;
}

.accordion.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion.active .panel {
  display: block;
}
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion.active {
 background-color: #ccc;

}
.accordion_content {
  background-color: white ;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.toggleControlsContainer {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 100%;
}

.answer-btn{
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding: 1.2em 1em;
  border-radius: 8px;
  background-color: #785380;
  border: none;
  color: white;
  transition: all 0.3s;
  margin-right: 20px;
}

.main-controls {
  flex: 1;
  display: flex;
  justify-content: center;
}

 .toggleButtons {
   display: flex;
   width: 100%;
   justify-content: space-around;
   
 }

button.delete-btn {
border-radius: 8px;
transition: all 0.3s;
background-color: white;
border: 1px red solid;
color: black;
margin-right: 20px;
}

#likeButton {
  margin-right: 20px;
}

.answer-user {
  margin-left: 3em;
  padding-top: 2em;
}

.answer {
  word-wrap: break-word;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.answer-title {
  font-weight: bold;
}

.question-item {
  
  padding: 0px 4px;
}
.question_answer_body {
  padding-top: 2em;
  text-align: center;
}

.questionHead {
  word-wrap: break-word;
  text-align: center;
  font-size: 44px;
}

.hashtag {

 margin-top: 2.0em;
 height: 15%;
 width: 25%;
 padding: 8px;
 font-size: medium;

}

.datePosted {
  display: flex;
 justify-content: center;
 margin-top: 2em;
 margin-left: 25px;
 font-weight: 600;
}

@media only screen and (min-width: 1080px) {
  /* .question-item ul {
    padding: 
  } */

  
}