.answer_body {
    display: flex;


}

.answer-user {
    margin-left: 3em;
    padding-top: 2em;
}

.answer{
    word-wrap: break-word;
    width: 30em;  
    border: 1px solid white;
    box-shadow: 5px 5px 8px #888888;
    padding-left: 1em;
    padding-right: 2em;
}

.answer-title {
    font-weight: bold;
} 

.question_answer_body {
    padding-top: 2em;
}

.questionHead {

    word-wrap: break-word;
    width: 20em;
}