form {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 0em;
  height: 15%;
}
#logo {
  width: 5em;
}

img {
  max-height: 40%;
  width: auto;
}

input {
  height: 2em;
}

ul {
  list-style: none;
  margin-top: 0;
}

li {
  padding: 1em 0 1em 1em;
  font-size: 1.2em;
}

nav {
  background-color: white;
  height: 5em;
  box-shadow: 8px 1px 30px 10px #cecece;
}

#question-btn {
  margin-left: auto;
  margin-right: 15em;
}

#search-text-input {
  border-top: thin solid #e5e5e5;
  border-right: thin solid #e5e5e5;
  border-bottom: 0;
  border-left: thin solid #e5e5e5;
  box-shadow: 0px 1px 1px 1px #e5e5e5;
  float: left;
  height: 17px;
  outline: 0;
  padding: .4em 0 .4em .6em;
  width: 183px;
}

#button-holder {
  background-color: #f1f1f1;
  border-top: thin solid #e5e5e5;
  box-shadow: 1px 1px 1px 1px #e5e5e5;
  cursor: pointer;
  float: left;
  height: 27px;
  margin: 11px 0 0 0;
  text-align: center;
  width: 50px;
}

.search-bar {
  position: relative;
}

#magn {
  position: absolute;
  height: 16px;
  width: 16px;
  right: auto;
  left: 170px;
}
