* {
  text-align: center;
}

img {
  width: 9em;
}

.logoicon {
  background-color: transparent;
}

nav {
  box-shadow: 1px 1px 6px 1px;
  height: 9em;
}

ul {
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
}

/* .search-bar {
  display: inline-block;
  padding: 0px 0px 0px 0px;
  border-radius: 12px;
  position: relative;
} */

#logoutlink {
  font-weight: 600;
  color: #785380;
}

span#logoutlink:hover {
  cursor: pointer;
}

#search-text-input {
  margin-left: auto;
  margin-right: auto;
  border: thin solid grey;
  border-radius: 12px;
  width: 16em;
  margin-bottom: 40px;
}

button {
  font-size: 14px;
  padding: 12px 18px 12px 18px;
  border-radius: 8px;
  margin: 0 0.25em;
  background-color: #785380;
  border: none;
  color: white;
    transition: all 0.3s;
}

#magn {
  margin-top: 0.5em;
  position: absolute;
  height: 13px;
  width: 13px;
  right: auto;
  left: 190px;
}

#navButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 0.5em;
}

.selector {
  font-size: 14px;
  margin-bottom: 8px;
  list-style-type: none;
}
a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  #search-text-input {
    width: 32em;
    font-size: 16px;
  }
  #magn {
    left: 490px;
  }
  .selector {
    font-size: 18px;
  }
  nav {
    height: 11em;
  }
  button {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1080px) {
  /* form {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 0em;
    height: 15%;
  }

  img {
    width: 5em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 1em;
  }

  #link {
    color: white;
  }



  input {
    height: 2em;
  }

  ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0px;
  }

  li {
    font-size: 1.2em;
  }







  #button-holder {
    background-color: #f1f1f1;
    border-top: thin solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px #e5e5e5;
    cursor: pointer;
    float: left;
    height: 27px;
    margin: 11px 0 0 0;
    text-align: center;
    width: 50px;
  }

  .search-bar {
    position: relative;
  }

  .selector {
    margin-right: 1em;
    margin: 0.5em;
  }



  select {
    padding-top: 0.5em;
    border: thin solid grey;
    border-radius: 6px;
    font-size: 16px;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
  }

 */
  #search-text-input {
    margin-top: 1.5em;
    border-top: thin solid #cccccc;
    border-right: thin solid #cccccc;
    border-bottom: thin solid #cccccc;
    border-left: thin solid #cccccc;
    border-radius: 6px;
    float: left;
    height: 12px;
    outline: 0;
    padding: 0.4em 0 0.4em 0.6em;
    width: 225px;
    margin-right: 8em;
    margin-left: 4em;
  }
  #magn {
    margin-top: 2.2em;
    position: absolute;
    height: 16px;
    width: 16px;
    right: auto;
    left: 275px;
  }
  nav {
    background-color: white;
    height: 5em;
    box-shadow: 1px 1px 20px 5px #cecece;
    display: flex;
  }
  #question-btn {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 2em;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border: none;
    padding-top: 0.5em;
    padding-bottom: 2em;
    height: 1.5em;
    width: 9em;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    background-color: #785380;
  }
  .span1 {
    margin-top: 1em;
    font-size: 16px;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 0.5em;
    padding-bottom: 2em;
    padding-right: 20px;
    width: 9em;
    margin-right: 2em;
  }

  button {
    color: black;
  }

  .span2 {
    margin-top: 1em;
    width: 9em;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 0.5em;
    padding-bottom: 2em;
    padding-right: 20px;
    font-weight: 600;
    margin-right: 3.5em;
  }

  .selector {
    margin-top: 1em;
  }
  #wholeNav {
    justify-content: space-evenly;
  }
  #question-btn {
    color: white;
  }
}
