.nav img {
  width: 9em;
}

.nav .logoicon {
  background-color: transparent;
  text-decoration: none;
}

.nav {
  box-shadow: 1px 1px 6px 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 9em;
  text-align: center;
  width: 100%;
}

.nav .nav_navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.nav ul {
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

#logoutlink {

}

span#logoutlink:hover {
  cursor: pointer;
}

.nav-btn {
  font-size: 16px;
  font-weight: 550;
  line-height: 1;
  padding: 1.2em 2.8em;
  border-radius: 8px;
  margin: 15px;
  background-color: #785380;
  border: none;
  color: white;
  transition: all 0.3s;
  position: relative;
  z-index: 5;
}

.nav .selector {
  font-size: 14px;
  margin-bottom: 8px;
  list-style-type: none;
}

.nav .logout-link {
align-self: flex-end;
font-weight: 600;
color: #785380;
}

.nav a {
  text-decoration: none;
}

.nav button:hover {
  cursor: pointer;
}

@media screen and (min-width: 700px) {
.nav .nav_navigation {
  flex-direction: row;
  justify-content: space-between;
}

.nav .logout-link {
  align-self: center;
  order: 4;
}


}