body {
  margin: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
  list-style: none;
  margin-top: 0;
}

li {
  padding: 1em 0 1em 1em;
  font-size: 1.2em;
}

nav.nav {
  background-color: grey;
}

#question-btn {
  margin-left: auto;
  margin-right: 15em;
}
