.Sidebar {
  display: none;
}

.Sidebar2 {
  margin-top: 1em;
}

select {
  padding: .5em 1em .5em 1em;
  border-radius: 8px;
}

@media screen and (min-width: 1000px) {
  .Sidebar2 {
    display: none;
  }

  div.Sidebar {
    place-content: left;
  }

  .Sidebar {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    margin-top: 4em;
    margin-left: 5em;
    display: flex;
    flex-direction: column;

    width: 100px;
    font-size: 16px;
  }

  .myQs,
  .departments {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }

  .barUl {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }

  label {
    font-weight: 600;
    width: 120px;
    text-align: left;
  }

  .barUl li {
    font-size: 16px;
    font-weight: 400;
    color: rgb(155, 155, 155);
  }

  a#side__tag {
    color: rgb(155, 155, 155);
  }

  a#side__tag:hover {
    color: #785380;
    font-weight: 600;
  }
}
