.Sidebar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  display: flex;
  margin-top: 2em;
  justify-content: center;
}

.Sidebar1 {
  display: none;
}

.Sidebar select {
  margin: 5px;
  padding: 0 .5em;
  border-color: #785380;
  background-color: white;
  cursor: pointer;
  height: 40px;
  width: 9em;
}

.Sidebar2 {
  margin-top: 2em;
}

.Sidebar select {
  padding: .5em 1em .5em 1em;
  border-radius: 8px;
}

@media screen and (min-width: 700px) {
  .Sidebar2 {
    display: none;
  }

  .Sidebar1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    margin-top: 4em;
    margin-left: 4em;
    display: flex;
    flex-direction: column;   
  }

  .Sidebar1 .departments

   {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    list-style-type: none;

  }

  .Sidebar1 .barUl {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    list-style-type: none;
  }

  .Sidebar1 label {
    font-weight: 600;
    display: block;
    width: 120px;
    margin-bottom: 1em;
    text-align: left;
  }

  .Sidebar .barUl li {
    font-size: 16px;
    font-weight: 400;
    color: rgb(155, 155, 155);
    margin-bottom: 1em;
  }

  a#side__tag {
    color: rgb(155, 155, 155);
  }

  a#side__tag:hover {
    color: #785380;
    font-weight: 600;
  }
}

.active a#side_tag:focus {
  color: #785380;
  font-weight: 600;
}

span#side__tag:hover {
  color: #785380;
  font-weight: 600;
  cursor: pointer;
}