div.dashboard {
  margin: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
  list-style: none;
  margin-top: 0;
}

li {
  font-size: 1.2em;
}

#question-btn {
  margin-left: auto;
  margin-right: 15em;
}

section {
  display: flex;
}

.image-info {
  display: flex;
  margin-left: auto;
}

.image-stats {
  padding-top: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.questions {
  padding-left: 2em;
  max-width: 85%;
  margin-right: 20em;
}

.questionList {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
}

.qMap {
  display: flex;
  flex-direction: column;
}

.qLi {
  border: thin solid #cccccc;
  border-radius: 6px;
  margin-bottom: 1.2em;
  padding-left: 1em;
  padding-bottom: 0.5em;
  padding-top: 1em;
  width: 800px;
}

.questionHead {
  font-size: 28px;
  color: rgb(24, 0, 24);
  font-weight: 600;
}
