#signup {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

.logo {
  width: 350px;
  height: auto;
}

form {
  flex-direction: column;
  background: #e9e9e9;
  padding: 100px;
  height: 100%;
  align-items: center;
}

legend {
  text-align: center;
  font-size: 24px;
}
fieldset {
  text-align: center;
}
li {
  list-style: none;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 400;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background-color: #785380;
}
