body {
  font: 100% / 1.414 "Open Sans", "Roboto", arial, sans-serif;
}

form {
  background: #e9e9e9;
  padding: 100px;
  height: 100%;
  align-items: center;
}

legend {
  text-align: center;
}
fieldset {
  text-align: center;
}
li {
  list-style: none;
}
