
.login-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    background-color: #785380;
}

.form-header {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  margin-top: 30px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
  0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.logoReg {
  width: 200px;
}

.form input {
   font-family: "Roboto",
   sans-serif;
   outline: 0;
   background: #f2f2f2;
   width: 100%;
   border: 0;
   margin: 0 0 15px;
   margin-top: 10px;
   padding: 15px;
   box-sizing: border-box;
   font-size: 14px;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 18px;
}

.form .message span {
  color: #785380;
  text-decoration: none;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #785380;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 15px;
}

.form .login-btn {
   font-family: "Roboto",
   sans-serif;
   text-transform: uppercase;
   outline: 0;
   background: white;
   width: 100%;
   border: 2px #785380 solid;
  
   border-radius: 5px;
   padding: 15px;
   color: #785380;
   font-size: 14px;
   cursor: pointer;
   margin-bottom: 15px;
}

.login-page h1 {
  display: flex;
  justify-content: center;
}

.login-page label {
  margin-bottom: 10em;
}
